.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav1{
  list-style: none;
  display: flex;
}
.NavBar1{
  display: flex;
  justify-content: space-between;
  align-items: center; /*prevent stretching in flex containers*/
}
.nav1 > li{
  padding:10px;
}
.image{
  width: 100px;
}
.NavBar{
  display: flex;
  background-color: #282c34;
}
.LeftBar{
  display:Flex;
  margin-right: auto;
}
.Logo{
  width: 100px;
}
body{
  background-color: slateblue;
}
.Body{
  padding: 30px 20px;
  letter-spacing: -0.05em;
}